
@font-face {
  font-family: 'DBHelvethaicaMonX';
  src: url('fonts/DBHelvethaicaMonX.eot?#iefix') format('embedded-opentype'),  url('fonts/DBHelvethaicaMonX.woff') format('woff'), url('fonts/DBHelvethaicaMonX.ttf')  format('truetype'), url('fonts/DBHelvethaicaMonX.svg#DBHelvethaicaMonX') format('svg');
  font-weight: normal;
  font-style: normal;
}
